<h2>Order list</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>orders_input</th>
    <th>name</th>
    <th>phone</th>
    <th>address</th>
    <th>created_at</th>
  </tr>
  </thead>
<tbody>
<%@orders.each do |order| %>
  <tr>
    <td><%=order.id %></td>
    <td><%=order.orders_input %></td>
    <td><%=order.name %></td>
    <td><%=order.phone %></td>
    <td><%=order.address %></td>
    <td><%=order.created_at %></td>

  </tr>
<% end %>
</tbody>

  </table>